.list-footer {
  padding-left: 0;
  list-style: none;
  font-size: 15px;
  color: #ddd;
}

.logo-pjud{
  height: 200px;
  width: auto;
}

@media screen and (max-width: 768px) {
  .logo-pjud{
    height: 150px;
  }
}