.list-footer {
  padding-left: 0;
  list-style: none;
  font-size: 15px;
  color: #ddd;
}
img#id-img-Logo-Pjud {
  height: auto;
}

@media screen and (max-width: 1430px) {
  #id-img-Logo-Pjud{
    height: 130px;
  }
}
@media screen and (max-width: 768px) {
  #id-img-Logo-Pjud{
    height: 100px;
  }
}