

/* First image container */
.container-first-image {
    height: 50vh;
    box-shadow: 0.25em 0.2em 0.5em rgba(0, 0, 0, 0.3);
}

.map-about-information iframe {
    height: 25em;
    width: 100%;
    max-width: 37.5em;
    border-radius: 1.25em;
    box-shadow: 0.3125em 0.3125em 0.625em rgba(0, 0, 0, 0.25);
}


/* Medium screens */
@media screen and (max-width: 768px) {
    .container {
        margin: 2em 1.5em;
    }

    .text-section {
        font-size: 0.85em;
    }
}

/* Small screens */
@media screen and (max-width: 480px) {
    .container {
        margin: 1.5em 1em;
    }

    .title-first-image {
        font-size: 1.5rem;
    }

    .text-section {
        font-size: 0.85em;
        width: 100%;
    }
}
